body{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"ו";color:#666;background: #f7f6f6;}
*{margin:0;padding:0;}
ul{ list-style-type:none;}
a{ text-decoration:none;}
img{border:0px;vertical-align:middle;}
.fl{float: left;}
.fr{float: right;}

/*head*/
.head{width: 100%;min-width:1200px;background:#fff;}
.head1{width: 100%;height: 30px;line-height: 30px; background: #f2f2f2;font-size: 14px;}
.head1con{width:1026px; margin:0px auto;position: relative;z-index: 9999;}
.h1pho{font-size: 20px;color: #f55d22;margin-left: 15px;}
.headcon{width:1026px; margin:0px auto;position:relative;height: 80px;line-height: 80px;}
.headcon ul{position:absolute;top:0px;right:0px;}
.headcon li{float:left;font-size:18px;text-align:center;padding:0 31px;}
.headcon li a{color: #0081c6;}
.headcon li a:hover{color:#f9a23f;}
.headcon li a.navactive{color:#f9a23f;}
.gson1{position: relative;}
.headcon li ul.gson1_nav{position: absolute;z-index:999;left:0px;top:60px;font-size: 14px;display: none;}
.headcon ul.gson1_nav li{height:30px;line-height:30px;font-size:14px;text-align:center;float: none;background: #fff;}
.headcon ul.gson1_nav a{color: #666;}
.headcon ul.gson1_nav a:hover{color: #1776cd;}
.head1conr{position: absolute;right:15px;top:0px;}
.member{color: #B7D8F0; background: #7DC0F4;padding:5px 10px;border-radius: 10px;font-size: 12px;}
.member a{color: #fff;margin:0 10px;}
.member a:hover{color:#024cba;}
.zhu{margin:0 20px;color: #666;}
.zhu:hover{color: #1776cd;}
.wei_bo{width:16px;height: 14px;display: inline-block;background:url("../images/index_wei.png") no-repeat;margin-right: 5px;}
.wei_bo:hover{opacity: 0.8;filter:alpha(opacity=80);}
.wei_xin{width:16px;height: 14px;display: inline-block;background:url("../images/index_wei.png") no-repeat 0px -14px;}
.wei_xin:hover{opacity: 0.8;filter:alpha(opacity=80);}
.wei_xinbg{width:152px;height:160px;display: inline-block;background:url("../images/head_code.png") no-repeat;position: absolute;right:0px;top:25px;z-index: 9999;display: none;}

/*foot*/
.foot{width: 100%;min-width:1200px;height: 304px;background: #6a6a6a;color:#fff;font-size: 14px;}
.footcon{width:1000px; margin:0 auto;padding:30px 0;position: relative;}
.conrp1{font-size: 18px;}
.conrp2{font-size: 40px;}
.foot1{position: absolute;left:0px;top:20px;}
.foot1 ul{float: left;}
.foot1 a{color:#fff;line-height: 25px;font-size: 14px;}
.foot1 a:hover{color:#ed6d00;}
.footh3{padding:13px 0px 20px;font-size: 18px;font-weight: normal;}
.foot2{position: absolute;left:190px;top:20px;width:380px;text-align:left;}
.foot2 .footbg{width:32px;height:32px;display: inline-block; background:url("../images/foot_icon.png") no-repeat 0px -32px;float: left;margin-right: 10px;}
.foot2con p span{margin-right: 15px;line-height: 25px;}
.foot3{position: absolute;right:265px;top:20px;text-align: center;}
.foot3h{padding:13px 0px 25px;font-size: 18px;font-weight: normal;}
.foot4{position: absolute;right:0;top:35px;text-align: left;}
.foot4h{height:27px;line-height:27px; font-size: 18px;font-weight: normal;background:url("../images/foot_phone.png") no-repeat;padding-left:40px;margin-bottom:15px;}
.foot4p1{font-size:30px;margin-bottom:5px;}
.foot4p2{font-size:16px;}
.foottable{clear: both;width: 800px;text-align: center;position:absolute; top:230px;left: 50%;margin-left: -400px;}
.right{width: 100%;background-color: #f2f2f2;color: #ed6d00;text-align: center;font-size: 12px;padding:15px 0;}

